[Unit]
Description=Pi summoner service

[Service]
ExecStart=/usr/local/bin/pi-summoner
Restart=always
User=root

[Install]
WantedBy=multi-user.target
